<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zys.dao.ISwiperItemsMapper">
    <insert id="uploadSwiperItems" parameterType="com.zys.pojo.po.SwiperItems">
        Insert into SwiperItems(imageName,imageUrlPath,uploadtime) values (
        #{imageName},
        #{imageUrlPath},
        #{uploadtime}
        )
    </insert>

</mapper>